 {{#each students}}
  <div class="page">
    <header>
      <img src="./images/cslf.jpg" id="cslf-logo">
      <img src="./images/{{ school.id }}.jpg" id="school-logo">
      <div class="school">{{ school.name }}</div>
      <div class="schaddress">
        {{ school.street }}, {{ school.city }}, Île-du-Prince-Édouard, {{ school.postalcode }}<br />
        Tél: {{ school.phone }}  Fax: {{ school.fax }}
      </div>
      <div class="title">BULLETIN SCOLAIRE</div>
    </header>
<!-- student info -->     
    <div id="student_info" class="student-info">
      <div class="student1">
        NOM DE L'ÉLÈVE :<br>
        ADRESSE :<br>
        <br>
        TÉLÉPHONE :<br>
        PÉRIODE VISÉE :
      </div>
      <div class="student2">
        {{firstname}} {{lastname}}<br>
        {{ street }}<br>
        {{ city }}, IPE, {{ postalcode }}<br>
        {{ phone }}<br>
        {{ ../reportconfig.period }}
      </div>
      <div class="student3">
        No DE L'ÉLÈVE :<br>
        DATE DE NAISANCE :<br>
        NIVEAU SCOLAIRE :<br>
        <br>
        IMPRIMÉ LE :
      </div>
      <div class="student4">
        {{ number }}<br>
        {{ dob }}<br>
        {{ gradelevel }}<br>
        <br>
        {{ ../reportconfig.printDate }}
      </div>
    </div>

<!-- Courses -->
  {{#if courses.[0]}}
    {{#with courses.[0]}}
      <article class="course">
        <div class="course-info">
          Cours : {{ course_name }} <br>
          Code : {{ course_number }} <br>
          Enseignant.e : {{ teacher }} <br>
          <br>
        </div>
        <div class="attendance">
          Absences : {{ absences }} <br>
          Retards : {{ lates }}
        </div>
        <div class="q-m1-head">Étape 1</div>
        <div class="q-m2-head">Étape 2</div>
        <div class="q-m3-head">Étape 3</div>
        <div class="q-m4-head">Note Finale</div>
        <div class="q-m1-mark">{{ i1grade }}</div>
        <div class="q-m2-mark">{{ i2grade }}</div>
        <div class="q-m3-mark">{{ i3grade }}</div>
        <div class="q-m4-mark">{{ i4grade }}</div>
        <div class="comment">
          <strong><em>Commentaires :</em></strong>
            {{ comment }}
        </div>
      </article>
    {{/with}}
  {{/if}}
   {{#if courses.[1]}}
    {{#with courses.[1]}}
      <article class="course">
        <div class="course-info">
          Cours : {{ course_name }} <br>
          Code : {{ course_number }} <br>
          Enseignant.e : {{ teacher }} <br>
          <br>
        </div>
        <div class="attendance">
          Absences : {{ absences }} <br>
          Retards : {{ lates }}
        </div>
        <div class="q-m1-head">Étape 1</div>
        <div class="q-m2-head">Étape 2</div>
        <div class="q-m3-head">Étape 3</div>
        <div class="q-m4-head">Note Finale</div>
        <div class="q-m1-mark">{{ i1grade }}</div>
        <div class="q-m2-mark">{{ i2grade }}</div>
        <div class="q-m3-mark">{{ i3grade }}</div>
        <div class="q-m4-mark">{{ i4grade }}</div>
        <div class="comment">
          <strong><em>Commentaires :</em></strong>
            {{ comment }}
        </div>
      </article>
    {{/with}}
  {{/if}}
   {{#if courses.[2]}}
    {{#with courses.[2]}}
      <article class="course">
        <div class="course-info">
          Cours : {{ course_name }} <br>
          Code : {{ course_number }} <br>
          Enseignant.e : {{ teacher }} <br>
          <br>
        </div>
        <div class="attendance">
          Absences : {{ absences }} <br>
          Retards : {{ lates }}
        </div>
        <div class="q-m1-head">Étape 1</div>
        <div class="q-m2-head">Étape 2</div>
        <div class="q-m3-head">Étape 3</div>
        <div class="q-m4-head">Note Finale</div>
        <div class="q-m1-mark">{{ i1grade }}</div>
        <div class="q-m2-mark">{{ i2grade }}</div>
        <div class="q-m3-mark">{{ i3grade }}</div>
        <div class="q-m4-mark">{{ i4grade }}</div>
        <div class="comment">
          <strong><em>Commentaires :</em></strong>
            {{ comment }}
        </div>
      </article>
    {{/with}}
  {{/if}}
   {{#if courses.[3]}}
    {{#with courses.[3]}}
      <article class="course">
        <div class="course-info">
          Cours : {{ course_name }} <br>
          Code : {{ course_number }} <br>
          Enseignant.e : {{ teacher }} <br>
          <br>
        </div>
        <div class="attendance">
          Absences : {{ absences }} <br>
          Retards : {{ lates }}
        </div>
        <div class="q-m1-head">Étape 1</div>
        <div class="q-m2-head">Étape 2</div>
        <div class="q-m3-head">Étape 3</div>
        <div class="q-m4-head">Note Finale</div>
        <div class="q-m1-mark">{{ i1grade }}</div>
        <div class="q-m2-mark">{{ i2grade }}</div>
        <div class="q-m3-mark">{{ i3grade }}</div>
        <div class="q-m4-mark">{{ i4grade }}</div>
        <div class="comment">
          <strong><em>Commentaires :</em></strong>
            {{ comment }}
        </div>
      </article>
    {{/with}}
  {{/if}}
   {{#if courses.[4]}}
    {{#with courses.[4]}}
      <article class="course">
        <div class="course-info">
          Cours : {{ course_name }} <br>
          Code : {{ course_number }} <br>
          Enseignant.e : {{ teacher }} <br>
          <br>
        </div>
        <div class="attendance">
          Absences : {{ absences }} <br>
          Retards : {{ lates }}
        </div>
        <div class="q-m1-head">Étape 1</div>
        <div class="q-m2-head">Étape 2</div>
        <div class="q-m3-head">Étape 3</div>
        <div class="q-m4-head">Note Finale</div>
        <div class="q-m1-mark">{{ i1grade }}</div>
        <div class="q-m2-mark">{{ i2grade }}</div>
        <div class="q-m3-mark">{{ i3grade }}</div>
        <div class="q-m4-mark">{{ i4grade }}</div>
        <div class="comment">
          <strong><em>Commentaires :</em></strong>
            {{ comment }}
        </div>
      </article>
    {{/with}}
  {{/if}}
   {{#if courses.[5]}}
    {{#with courses.[5]}}
      <article class="course">
        <div class="course-info">
          Cours : {{ course_name }} <br>
          Code : {{ course_number }} <br>
          Enseignant.e : {{ teacher }} <br>
          <br>
        </div>
        <div class="attendance">
          Absences : {{ absences }} <br>
          Retards : {{ lates }}
        </div>
        <div class="q-m1-head">Étape 1</div>
        <div class="q-m2-head">Étape 2</div>
        <div class="q-m3-head">Étape 3</div>
        <div class="q-m4-head">Note Finale</div>
        <div class="q-m1-mark">{{ i1grade }}</div>
        <div class="q-m2-mark">{{ i2grade }}</div>
        <div class="q-m3-mark">{{ i3grade }}</div>
        <div class="q-m4-mark">{{ i4grade }}</div>
        <div class="comment">
          <strong><em>Commentaires :</em></strong>
            {{ comment }}
        </div>
      </article>
    {{/with}}
  {{/if}}


  <div class="footer">
    <div class="footer3">
      <div class="footer3-left">V 1.0</div>
      <div class="footer3-center">{{ firstname }} {{ lastname}} ({{ number }} - {{ homeroom }})</div>
      <div class="footer3-right">Voir au verso</div>
    </div>
  </div>
</div>

<!-- Page break -->
<div class="pageBreak" style="clear: both;">
  <div class="noprint" style="border-top: thin dotted;width: 100%;"></div>
</div>

<!-- Start of page 2 -->
<div class="page">
  <header>
    <div class="school">{{ school.name }}</div>
  </header>
   {{#if courses.[6]}}
    {{#with courses.[6]}}
      <article class="course">
        <div class="course-info">
          Cours : {{ course_name }} <br>
          Code : {{ course_number }} <br>
          Enseignant.e : {{ teacher }} <br>
          <br>
        </div>
        <div class="attendance">
          Absences : {{ absences }} <br>
          Retards : {{ lates }}
        </div>
        <div class="q-m1-head">Étape 1</div>
        <div class="q-m2-head">Étape 2</div>
        <div class="q-m3-head">Étape 3</div>
        <div class="q-m4-head">Note Finale</div>
        <div class="q-m1-mark">{{ i1grade }}</div>
        <div class="q-m2-mark">{{ i2grade }}</div>
        <div class="q-m3-mark">{{ i3grade }}</div>
        <div class="q-m4-mark">{{ i4grade }}</div>
        <div class="comment">
          <strong><em>Commentaires :</em></strong>
            {{ comment }}
        </div>
      </article>
    {{/with}}
  {{/if}}
   {{#if courses.[7]}}
    {{#with courses.[7]}}
      <article class="course">
        <div class="course-info">
          Cours : {{ course_name }} <br>
          Code : {{ course_number }} <br>
          Enseignant.e : {{ teacher }} <br>
          <br>
        </div>
        <div class="attendance">
          Absences : {{ absences }} <br>
          Retards : {{ lates }}
        </div>
        <div class="q-m1-head">Étape 1</div>
        <div class="q-m2-head">Étape 2</div>
        <div class="q-m3-head">Étape 3</div>
        <div class="q-m4-head">Note Finale</div>
        <div class="q-m1-mark">{{ i1grade }}</div>
        <div class="q-m2-mark">{{ i2grade }}</div>
        <div class="q-m3-mark">{{ i3grade }}</div>
        <div class="q-m4-mark">{{ i4grade }}</div>
        <div class="comment">
          <strong><em>Commentaires :</em></strong>
            {{ comment }}
        </div>
      </article>
    {{/with}}
  {{/if}}
   {{#if courses.[8]}}
    {{#with courses.[8]}}
      <article class="course">
        <div class="course-info">
          Cours : {{ course_name }} <br>
          Code : {{ course_number }} <br>
          Enseignant.e : {{ teacher }} <br>
          <br>
        </div>
        <div class="attendance">
          Absences : {{ absences }} <br>
          Retards : {{ lates }}
        </div>
        <div class="q-m1-head">Étape 1</div>
        <div class="q-m2-head">Étape 2</div>
        <div class="q-m3-head">Étape 3</div>
        <div class="q-m4-head">Note Finale</div>
        <div class="q-m1-mark">{{ i1grade }}</div>
        <div class="q-m2-mark">{{ i2grade }}</div>
        <div class="q-m3-mark">{{ i3grade }}</div>
        <div class="q-m4-mark">{{ i4grade }}</div>
        <div class="comment">
          <strong><em>Commentaires :</em></strong>
            {{ comment }}
        </div>
      </article>
    {{/with}}
  {{/if}}
   {{#if courses.[9]}}
    {{#with courses.[9]}}
      <article class="course">
        <div class="course-info">
          Cours : {{ course_name }} <br>
          Code : {{ course_number }} <br>
          Enseignant.e : {{ teacher }} <br>
          <br>
        </div>
        <div class="attendance">
          Absences : {{ absences }} <br>
          Retards : {{ lates }}
        </div>
        <div class="q-m1-head">Étape 1</div>
        <div class="q-m2-head">Étape 2</div>
        <div class="q-m3-head">Étape 3</div>
        <div class="q-m4-head">Note Finale</div>
        <div class="q-m1-mark">{{ i1grade }}</div>
        <div class="q-m2-mark">{{ i2grade }}</div>
        <div class="q-m3-mark">{{ i3grade }}</div>
        <div class="q-m4-mark">{{ i4grade }}</div>
        <div class="comment">
          <strong><em>Commentaires :</em></strong>
            {{ comment }}
        </div>
      </article>
    {{/with}}
  {{/if}}
   {{#if courses.[10]}}
    {{#with courses.[10]}}
      <article class="course">
        <div class="course-info">
          Cours : {{ course_name }} <br>
          Code : {{ course_number }} <br>
          Enseignant.e : {{ teacher }} <br>
          <br>
        </div>
        <div class="attendance">
          Absences : {{ absences }} <br>
          Retards : {{ lates }}
        </div>
        <div class="q-m1-head">Étape 1</div>
        <div class="q-m2-head">Étape 2</div>
        <div class="q-m3-head">Étape 3</div>
        <div class="q-m4-head">Note Finale</div>
        <div class="q-m1-mark">{{ i1grade }}</div>
        <div class="q-m2-mark">{{ i2grade }}</div>
        <div class="q-m3-mark">{{ i3grade }}</div>
        <div class="q-m4-mark">{{ i4grade }}</div>
        <div class="comment">
          <strong><em>Commentaires :</em></strong>
            {{ comment }}
        </div>
      </article>
    {{/with}}
  {{/if}}

  <div class="gen-info">
    {{#if ../reportconfig.addcomment }}
      <div class="addcomment"><strong>Message de l'école : </strong>{{ ../reportconfig.addcomment }}</div>
    {{/if}}
    <div class="legend">
      <strong>Notes:</strong><br />
      <ul class="legendlist">
        <li>L'élève doit obtenir une moyenne générale de 60% en plus de réussir son cours de français et mathématiques avec 60% ou plus.</li>
        <li><strong>INC</strong> signifie qu'une note n'est pas accordée pour une raison particulière.</li>
        <li><Strong>ABD</Strong> signifie que l'élève a abandonné son cours.</li>
        <li><strong>R</strong> signifie que l'élève a obtenu un crédit externe.</li>
      </ul>
    </div>
  </div>
  <div class="footer">
    <div class="signature">
      {{#if ../reportconfig.teachersig}}
        <span class="teacher">ENSEIGNANT.E TITULAIRE: <span class="sig-line"></span></span> &nbsp; &nbsp;
      {{/if}}
      {{#if ../reportconfig.principalsig}}
        <span class="principal">DIRECTION: <span class="sig-line"></span></span>
      {{/if}}
    </div>
    <br>
    <div class="footer3">
      <div class="footer3-left">V 1.0</div>
      <div class="footer3-center">{{ firstname }} {{ lastname}} ({{ number }} - {{ homeroom }})</div>
      <div class="footer3-right"></div>
    </div>
  </div>
</div>

  <div class="pageBreak" style="clear: both;">
      <div class="noprint" style="border-top: thin dotted;width: 100%;"></div>
  </div>
{{/each}}