{{#each students}}
   <div class="page">
    <header>
      <img src="./images/psb.jpg" class="dept-logo">
      <div class="logo-offset">
        <div class="sh1"><strong>Public Schools Branch</strong></div>
        <div class="sh2">Prince Edward Island</div>
        <h1>Student Learning Report</h1>
      </div>
    </header>
    <table class="student-info wide">
      <tr>
        <td>
          School: {{ school.name }}<br />
          Student: {{ firstname }} {{ lastname }}<br />
          Student Number: {{ number }} <br />
          Date of Birth: {{ dob }} <br />
          Grade: {{ gradelevel }}
        </td>
        <td class="right">
          Principal: {{ school.principal }} <br />
          School Year: {{ yearname }}<br />
          Program: {{ program }} <br />
          Homeroom Teacher(s): {{ hr.teacher }} <br />
        </td>
      </tr>
    </table>
    <table class="wide course comment-big">
      <tr>
        <td colspan="2" class="comment-big">
          <strong>Overall Comment: </strong><br /> {{ hr.comment }}</span>
        </td>
      </tr>
    </table>
    <div class="attendance wide">
      <h3>Attendance recorded as of: {{../reportconfig.attcutoff}}</h3>
      <table id="attendance wide">
        <tr>
          <th></th>
          <th>September</th>
          <th>October</th>
          <th>November</th>
          <th>December</th>
          <th>January</th>
          <th>February</th>
          <th>March</th>
          <th>April</th>
          <th>May</th>
          <th>June</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>Absent</td>
          <td class="center">{{#if absences.sep}}{{ absences.sep }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.oct}}{{ absences.oct }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.nov}}{{ absences.nov }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.dec}}{{ absences.dec }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.jan}}{{ absences.jan }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.feb}}{{ absences.feb }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.mar}}{{ absences.mar }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.apr}}{{ absences.apr }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.may}}{{ absences.may }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.jun}}{{ absences.jun }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.tot}}{{ absences.tot }}{{else}}0{{/if}}</td>
        </tr>
        <tr>
          <td>Late</td>
          <td class="center">{{#if lates.sep}}{{ lates.sep }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.oct}}{{ lates.oct }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.nov}}{{ lates.nov }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.dec}}{{ lates.dec }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.jan}}{{ lates.jan }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.feb}}{{ lates.feb }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.mar}}{{ lates.mar }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.apr}}{{ lates.apr }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.may}}{{ lates.may }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.jun}}{{ lates.jun }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.tot}}{{ lates.tot }}{{else}}0{{/if}}</td>
        </tr>
        <tr>
          <td>Early Departure</td>
          <td class="center">{{#if earlydep.sep}}{{ earlydep.sep }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.oct}}{{ earlydep.oct }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.nov}}{{ earlydep.nov }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.dec}}{{ earlydep.dec }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.jan}}{{ earlydep.jan }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.feb}}{{ earlydep.feb }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.mar}}{{ earlydep.mar }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.apr}}{{ earlydep.apr }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.may}}{{ earlydep.may }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.jun}}{{ earlydep.jun }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.tot}}{{ earlydep.tot }}{{else}}0{{/if}}</td>
        </tr>
      </table>
    </div>
    {{#if ela}}
    <table class="course wide">
      <tr>
        <td class="row1 leftFixed">
          <strong>Language Arts</strong><br />
          English<br />
          <span class="course-details">
            Teacher: {{ ela.teacher }}<br />
            Program: {{ ela.program }}<br />
            {{#if ela.adaptation}}
              Adaptation<br /> 
            {{/if}}                           
            {{#if ela.iep}}
              IEP<br />
            {{/if}}
            {{#if ela.eal}}
               EAL<br />
            {{/if}}
          </span>
        </td>
        <td class="row1 center">Report 1</td>
        <td class="row1 center">Report 2</td>
        <td class="row1 center">End of the Year</td>
        <td rowspan="4" class="course-comment"><strong>Progress and Next Steps:</strong> {{ ela.comment }}</td>
      </tr>
      <tr>
        <td>Speaking and Listening</td>
        <td class="center">{{ ela.speaklisten.e1 }}</td>
        <td class="center">{{ ela.speaklisten.e2 }}</td>
        <td class="center">{{ ela.speaklisten.e3 }}</td>
      </tr>
      <tr>
        <td>Reading and Viewing</td>
        <td class="center">{{ ela.readview.e1 }}</td>
        <td class="center">{{ ela.readview.e2 }}</td>
        <td class="center">{{ ela.readview.e3 }}</td>
      </tr>
      <tr>
        <td>Writing and Other Ways of Representing</td>
        <td class="center">{{ ela.writerep.e1 }}</td>
        <td class="center">{{ ela.writerep.e2 }}</td>
        <td class="center">{{ ela.writrep.e3 }}</td>
      </tr>
    </table>
    {{/if}}
   {{#if fla}}
    <table class="course wide">
      <tr>
        <td class="row1 leftFixed">
          <strong>Language Arts</strong><br />
          French<br />
          <span class="course-details">
            Teacher: {{ fla.teacher }}<br />
            Program: {{ fla.program }} </span><br />
            {{#if fla.adaptation}}
               Adaptation<br />
            {{/if}}
            {{#if fla.iep}}
               IEP<br />
            {{/if}}
            {{#if fla.eal}}
               EAL<br />
            {{/if}} 
          </span>
        </td>
        <td class="row1 center">Report 1</td>
        <td class="row1 center">Report 2</td>
        <td class="row1 center">End of the Year</td>
        <td rowspan="4" class="course-comment"><strong>Progress and Next Steps:</strong> {{ fla.comment }}</td>
      </tr>
      <tr>
        <td>Speaking and Listening</td>
        <td class="center">{{ fla.speaklisten.e1 }}</td>
        <td class="center">{{ fla.speaklisten.e2 }}</td>
        <td class="center">{{ fla.speaklisten.e3 }}</td>
      </tr>
      <tr>
        <td>Reading and Viewing</td>
        <td class="center">{{ fla.readview.e1 }}</td>
        <td class="center">{{ fla.readview.e2 }}</td>
        <td class="center">{{ fla.readview.e3 }}</td>
      </tr>
      <tr>
        <td>Writing and Other Ways of Representing</td>
        <td class="center">{{ fla.writerep.e1 }}</td>
        <td class="center">{{ fla.writerp.e2 }}</td>
        <td class="center">{{ fla.writerepr.e3 }}</td>
      </tr>
    </table>
    {{/if}}
    <table class="course wide">
      <tr>
        <td class="row1 leftFixed">
          <strong>Mathematics</strong><br />
          <span class="course-details">
            Teacher: {{ mat.teacher }}<br />
            Program: {{ mat.program }}<br />
            {{#if mat.adaptation}}
               Adaptation<br />
            {{/if}}
            {{#if mat.iep}}
               IEP<br />
            {{/if}}
            {{#if mat.eal}}
               EAL<br />
            {{/if}}
          </span>
        </td>
        <td class="row1 center">Report 1</td>
        <td class="row1 center">Report 2</td>
        <td class="row1 center">End of the Year</td>
        <td rowspan="5" class="course-comment"><strong>Progress and Next Steps:</strong> {{ mat.comment }}</td>
      </tr>
      <tr>
        <td>Number Sense</td>
        <td class="center">{{ mat.numbersense.e1 }}</td>
        <td class="center">{{ mat.numbersense.e2 }}</td>
        <td class="center">{{ mat.numbersense.e3 }}</td>
      </tr>
      <tr>
        <td>Patterns and Relations</td>
        <td class="center">{{ mat.patternsrel.e1 }}</td>
        <td class="center">{{ mat.patternsrel.e2 }}</td>
        <td class="center">{{ mat.patternsrel.e3 }}</td>
      </tr>
      <tr>
        <td>Shape and Space</td>
        <td class="center">{{ mat.shapespace.e1 }}</td>
        <td class="center">{{ mat.shapespace.e2 }}</td>
        <td class="center">{{ mat.shapespace.e3 }}</td>
      </tr>
      <tr>
        <td>Statistics and Probability</td>
        <td class="center">{{ mat.statprob.e1 }}</td>
        <td class="center">{{ mat.statprob.e2 }}</td>
        <td class="center">{{ mat.statprob.e3 }}</td>
      </tr>
    </table>
    <div class="footer">
      <div class="footer3">
        <div class="footer3-left">V01</div>
        <div class="footer3-center">{{ firstname }} {{ lastname }} ({{ number }} - {{ homeroom }})</div>
        <div class="footer3-right">Printed: {{../reportconfig.printDate}}</div>
      </div>
    </div>
  </div>
<!-- Page break -->
  <div class="pageBreak" style="clear: both;">
      <div class="noprint" style="border-top: thin dotted;width: 100%;"></div>
  </div>

<!-- Start of page 2 -->
  <div class="page">
    <table class="wide noborder top">
      <colgroup>
          <col style="width: 3.9in;" />
          <col style="width: 0.2in;" />
          <col style="width: 3.9in;" />
      </colgroup>
      <tr>
        <td>
          {{#if courses.[0]}}
            {{#with courses.[0]}}
              <table class="course narrow border">
                <colgroup>
                  <col style="width: 1.95in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                </colgroup>
                <tr>
                  <td class="row1 titleRow">
                    <strong>{{course_name}}</strong><br />
                    <span class="course-details">
                      Teacher: {{teacher}}<br />
                      Program: {{program}}<br />
                      {{#if adaptation}}Adaptation<br />{{/if}}
                    </span>
                  </td>
                  <td class="row1 center">Report 1</td>
                  <td class="row1 center">Report 2</td>
                  <td class="row1 center">End of the Year</td>
                </tr>
                <tr>
                  <td>Curriculum Achievement</td>
                  <td class="center">{{e1}}</td>
                  <td class="center">{{e2}}</td>
                  <td class="center">{{e3}}</td>
                </tr>
              </table>
            {{/with}}
          {{/if}}
        </td>
        <td>&nbsp;</td>
        <td>
          {{#if courses.[1]}}
            {{#with courses.[1]}}
              <table class="course narrow border">
                <colgroup>
                  <col style="width: 1.95in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                </colgroup>
                <tr>
                  <td class="row1 titleRow">
                    <strong>{{course_name}}</strong><br />
                    <span class="course-details">
                      Teacher: {{teacher}}<br />
                      Program: {{program}}<br />
                      {{#if adaptation}}Adaptation<br />{{/if}}
                    </span>
                  </td>
                  <td class="row1 center">Report 1</td>
                  <td class="row1 center">Report 2</td>
                  <td class="row1 center">End of the Year</td>
                </tr>
                <tr>
                  <td>Curriculum Achievement</td>
                  <td class="center">{{e1}}</td>
                  <td class="center">{{e2}}</td>
                  <td class="center">{{e3}}</td>
                </tr>
              </table>
            {{/with}}
          {{/if}}
        </td>
      </tr>          
      {{#if courses.[2]}}
        <tr>
          <td>
            {{#with courses.[2]}}
              <table class="course narrow border">
                <colgroup>
                  <col style="width: 1.95in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                </colgroup>
                <tr>
                  <td class="row1 titleRow">
                    <strong>{{course_name}}</strong><br />
                    <span class="course-details">
                      Teacher: {{teacher}}<br />
                      Program: {{program}}<br />
                      {{#if adaptation}}Adaptation<br />{{/if}}
                    </span>
                  </td>
                  <td class="row1 center">Report 1</td>
                  <td class="row1 center">Report 2</td>
                  <td class="row1 center">End of the Year</td>
                </tr>
                <tr>
                  <td>Curriculum Achievement</td>
                  <td class="center">{{e1}}</td>
                  <td class="center">{{e2}}</td>
                  <td class="center">{{e3}}</td>
                </tr>
              </table>
            {{/with}}
        </td>
        <td>&nbsp;</td>
        <td>
          {{#if courses.[3]}}
            {{#with courses.[3]}}
              <table class="course narrow border">
                <colgroup>
                  <col style="width: 1.95in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                </colgroup>
                <tr>
                  <td class="row1 titleRow">
                    <strong>{{course_name}}</strong><br />
                    <span class="course-details">
                      Teacher: {{teacher}}<br />
                      Program: {{program}}<br />
                      {{#if adaptation}}Adaptation<br />{{/if}}
                    </span>
                  </td>
                  <td class="row1 center">Report 1</td>
                  <td class="row1 center">Report 2</td>
                  <td class="row1 center">End of the Year</td>
                </tr>
                <tr>
                  <td>Curriculum Achievement</td>
                  <td class="center">{{e1}}</td>
                  <td class="center">{{e2}}</td>
                  <td class="center">{{e3}}</td>
                </tr>
              </table>
            {{/with}}
          {{/if}}
        </td>
      </tr>
    {{/if}}
    {{#if courses.[4]}}
      <tr>
        <td>
            {{#with courses.[4]}}
              <table class="course narrow border">
                <colgroup>
                  <col style="width: 1.95in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                </colgroup>
                <tr>
                  <td class="row1 titleRow">
                    <strong>{{course_name}}</strong><br />
                    <span class="course-details">
                      Teacher: {{teacher}}<br />
                      Program: {{program}}<br />
                      {{#if adaptation}}Adaptation<br />{{/if}}
                    </span>
                  </td>
                  <td class="row1 center">Report 1</td>
                  <td class="row1 center">Report 2</td>
                  <td class="row1 center">End of the Year</td>
                </tr>
                <tr>
                  <td>Curriculum Achievement</td>
                  <td class="center">{{e1}}</td>
                  <td class="center">{{e2}}</td>
                  <td class="center">{{e3}}</td>
                </tr>
              </table>
            {{/with}}
        </td>
        <td>&nbsp;</td>
        <td>
          {{#if courses.[5]}}
            {{#with courses.[5]}}
              <table class="course narrow border">
                <colgroup>
                  <col style="width: 1.95in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                </colgroup>
                <tr>
                  <td class="row1 titleRow">
                    <strong>{{course_name}}</strong><br />
                    <span class="course-details">
                      Teacher: {{teacher}}<br />
                      Program: {{program}}<br />
                      {{#if adaptation}}Adaptation<br />{{/if}}
                    </span>
                  </td>
                  <td class="row1 center">Report 1</td>
                  <td class="row1 center">Report 2</td>
                  <td class="row1 center">End of the Year</td>
                </tr>
                <tr>
                  <td>Curriculum Achievement</td>
                  <td class="center">{{e1}}</td>
                  <td class="center">{{e2}}</td>
                  <td class="center">{{e3}}</td>
                </tr>
              </table>
            {{/with}}
          {{/if}}
        </td>
      </tr>
{{/if}}
{{#if courses.[6]}}
      <tr>
        <td>
            {{#with courses.[6]}}
              <table class="course narrow border">
                <colgroup>
                  <col style="width: 1.95in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                </colgroup>
                <tr>
                  <td class="row1 titleRow">
                    <strong>{{course_name}}</strong><br />
                    <span class="course-details">
                      Teacher: {{teacher}}<br />
                      Program: {{program}}<br />
                      {{#if adaptation}}Adaptation<br />{{/if}}
                    </span>
                  </td>
                  <td class="row1 center">Report 1</td>
                  <td class="row1 center">Report 2</td>
                  <td class="row1 center">End of the Year</td>
                </tr>
                <tr>
                  <td>Curriculum Achievement</td>
                  <td class="center">{{e1}}</td>
                  <td class="center">{{e2}}</td>
                  <td class="center">{{e3}}</td>
                </tr>
              </table>
            {{/with}}
        </td>
        <td>&nbsp;</td>
        <td>
          {{#if courses.[7]}}
            {{#with courses.[7]}}
              <table class="course narrow border">
                <colgroup>
                  <col style="width: 1.95in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                  <col style="width: 0.65in" />
                </colgroup>
                <tr>
                  <td class="row1 titleRow">
                    <strong>{{course_name}}</strong><br />
                    <span class="course-details">
                      Teacher: {{teacher}}<br />
                      Program: {{program}}<br />
                      {{#if adaptation}}Adaptation<br />{{/if}}
                    </span>
                  </td>
                  <td class="row1 center">Report 1</td>
                  <td class="row1 center">Report 2</td>
                  <td class="row1 center">End of the Year</td>
                </tr>
                <tr>
                  <td>Curriculum Achievement</td>
                  <td class="center">{{e1}}</td>
                  <td class="center">{{e2}}</td>
                  <td class="center">{{e3}}</td>
                </tr>
              </table>
            {{/with}}
          {{/if}}
        </td>
      </tr> 
      {{/if}}   
    </table>
    <div class="wide course">
      <table class="wide">
        <colgroup>
            <col style="width: 50%;" />
            <col style="width: 16.7%;" />
            <col style="width: 16.7%;" />
            <col style="width: 16.7%;" />
        </colgroup>
        <tbody>
        <tr>
          <th class="left">Learning Skills and Work Habits</th>
          <th class="center">Report 1</th>
          <th class="center">Report 2</th>
          <th class="center">End of the Year</th>
        </tr>
        <tr>
          <td>
            <strong>Responsibility</strong><br />
            <span class="course-details">Fulfills commitments; meets timelines; and manages his/her behaviour</span>
          </td>
          <td class="center">{{ hr.responsibility.e1 }}</td>
          <td class="center">{{ hr.responsibility.e2 }}</td>
          <td class="center">{{ hr.responsibility.e3 }}</td>
        </tr>
        <tr>
          <td>
            <strong>Organization</strong><br />
            <span class="course-details">Creates and follows a plan; and establishes priorities and manages time</span>
          </td>
          <td class="center">{{ hr.organization.e1 }}</td>
          <td class="center">{{ hr.organization.e2 }}</td>
          <td class="center">{{ hr.organization.e3 }}</td>
        </tr>
        <tr>
          <td>
            <strong>Independence</strong><br />
            <span class="course-details">Self-directs; and follows instructions with minimal supervision</span>
          </td>
          <td class="center">{{ hr.independence.e1 }}</td>
          <td class="center">{{ hr.independence.e2 }}</td>
          <td class="center">{{ hr.independence.e3 }}</td>
        </tr>
        <tr>
          <td>
            <strong>Collaboration</strong><br />
            <span class="course-details">Works effectively within a group; responds positively to others; builds healthy peer relationships</span>
          </td>
          <td class="center">{{ hr.collaboration.e1 }}</td>
          <td class="center">{{ hr.collaboration.e2 }}</td>
          <td class="center">{{ hr.collaboration.e3 }}</td>
        </tr>
        <tr>
          <td colspan="4" class="center">
            <strong><em>Learning Skills and Work Habits Key (Age appropriate expectations)</em></strong><br />
            M - Your child uses the learning skills and/or work habits to <strong>MAXIMIZE</strong> learning.<br />
            C - Your child uses the learning skills and/or work habits <strong>CONSISTENTLY</strong>.<br />
            D - Your child is <strong>DEVELOPING</strong> the learning skills and/or work habits.
          </td>
        </tr>
        </tbody>
      </table>
      <div class="wide">
        <strong>Parents/Guardians: Please retain this report for your records. A copy of the End of the Year report will be placed in your child's cumulative record folder.  If you have questions about your child's progress, please contact their teacher.</strong>
      </div>
      {{#if ../reportconfig.teachersig}}
        <div class="signature teacher">Teacher's Signature: <span class="sig-line"></span></div>
      {{/if}}
      {{#if ../reportconfig.principalsig}}
        <div class="signature principal">Principal's Signature: <span class="sig-line"></span></div>
      {{/if}}
      <div class="definitions">
        <h4><strong>Definitions</strong></h4>
        <p><strong>Adaptation(s)</strong> are provided for students who need one or more specific supports to meet the curriculum outcomes for the grade level. The grade level expectations are not changed.</p>
        <p><strong>Program: Regular</strong> - Your child is working on the prescribed provincial curriculum for this grade.</p>
        <p><strong>Regular with ALP</strong> - Your child is working on grade level outcomes as well as foundational learnings from a previous grade.</p>
        <p><strong>Academic Learning Plan</strong> - Your child is working on outcomes and foundational learnings from a previous grade.</p>
      </div>
      <table class="course wide">
        <colgroup>
          <col span="1" style="width: 7%;" />
          <col span="1" style="width: 43%;" />
          <col span="1" style="width: 7%;" />
          <col span="1" style="width: 43%;" />
        </colgroup>
        <tr class="row1">
          <th colspan="2" class="center">Provincial Grade Level Expectations for Progress</th>
          <th colspan="2" class="center">Provincial Grade Level Expectations for the End of the Year</th>
        </tr>
        <tr class="row2">
          <td class="center">4</td>
          <td class="left">At this time, your child is demonstrating strong performance in relation to end-of-year expectations.</td>
          <td class="center">4</td>
          <td class="left">Your child has exceeded the end-of-the- year expectations.</td>
        </tr>
        <tr class="row2">
          <td class="center">3</td>
          <td class="left">At this time, the pace of your child's learning is on target to meet the end-of-the-year expectations.</td>
          <td class="center">3</td>
          <td class="left">Your child has met the end- of- year expectations.</td>
        </tr>
        <tr>
          <td class="center">2</td>
          <td class="left">At this time, the pace of your child's learning may impact meeting the end-of-the-year expectations.</td>
          <td class="center">2</td>
          <td class="left">Your child is approaching the end of the year expectations.</td>
        </tr>
        <tr>
          <td class="center">1</td>
          <td class="left">At this time, the pace of your child's learning will likely make it difficult to meet the end-of-the-year expectations.</td>
          <td class="center">1</td>
          <td class="left">Your child has not met the end of the year expectations.</td>
        </tr>
        <tr>
          <td class="center">EX</td>
          <td class="left">Your child is exempt from this curriculum area.</td>
          <td class="center">EX</td>
          <td class="left">Your child is exempt from this curriculum area.</td>
        </tr>
        <tr>
          <td class="center">INS</td>
          <td class="left">Insufficient assessment evidence at this time.</td>
          <td class="center"></td>
          <td class="left"></td>
        </tr>
        <tr>
          <td class="center">NA</td>
          <td class="left">This curriculum area has not been taught and/or assessed during this reporting period.</td>
          <td class="center"></td>
          <td class="left"></td>
        </tr>
      </table>
    </div>
    <div class="footer">
      <div class="footer3">
        <div class="footer3-left">V01</div>
        <div class="footer3-center">{{ firstname }} {{ lastname }} ({{ number }} - {{ homeroom }})</div>
        <div class="footer3-right">Printed: {{../reportconfig.printDate}}</div>
      </div>
    </div>
  </div>
  <div class="pageBreak" style="clear: both;">
      <div class="noprint" style="border-top: thin dotted;width: 100%;"></div>
  </div>
{{/each}}