{{#each students}}
  <div class="page">
    <header>
      <table class="rcHeader">
          <colgroup>
            <col style="width: 1.5in;">
            <col style="width: 0.8in;">
            <col style="width: 1.7in;">
            <col style="width: 0.8in;">
            <col style="width: 1.7in;">
            <col style="width: 1.5in;">
          </colgroup>
          <tr>
              <td rowspan="5" class="left"><img src="images/psb.jpg" class="header-img"></td>
              <td colspan="4" class="center"><h1>{{#if is_fi}}French Immersion{{else}}English{{/if}} Kindergarten Report Card</h1></td>
              <td rowspan="5" class="right"><img src="images/header-top-right.jpg" class="header-img"></td>
          </tr>
          <tr>
              <td><strong>Name:</strong></td>
              <td id="name">{{ studentName }}</td>
              <td><strong>School:</strong></td>
              <td id="school">{{ schoolName }}</td>
          </tr>
          <tr>
              <td><strong>Student #:</strong></td>
              <td id="student_number">{{ studentNumber }}</td>
              <td><strong>Teacher(s):</strong></td>
              <td id="teachers">{{ teachers }}</td>
          </tr>
          <tr>
              <td><strong>DOB:</strong></td>
              <td id="dob">{{ dob }}</td>
              <td><strong>Homeroom:</strong></td>
              <td id="homeroom">{{ homeroom }}</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </header>
      <div class="attendance wide">
      <h3>Attendance recorded as of: {{../reportconfig.attcutoff}}</h3>
      <table id="attendance wide">
        <tr>
          <th></th>
          <th>September</th>
          <th>October</th>
          <th>November</th>
          <th>December</th>
          <th>January</th>
          <th>February</th>
          <th>March</th>
          <th>April</th>
          <th>May</th>
          <th>June</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>Absent</td>
          <td class="center">{{#if absences.sep}}{{ absences.sep }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.oct}}{{ absences.oct }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.nov}}{{ absences.nov }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.dec}}{{ absences.dec }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.jan}}{{ absences.jan }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.feb}}{{ absences.feb }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.mar}}{{ absences.mar }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.apr}}{{ absences.apr }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.may}}{{ absences.may }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.jun}}{{ absences.jun }}{{else}}0{{/if}}</td>
          <td class="center">{{#if absences.tot}}{{ absences.tot }}{{else}}0{{/if}}</td>
        </tr>
        <tr>
          <td>Late</td>
          <td class="center">{{#if lates.sep}}{{ lates.sep }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.oct}}{{ lates.oct }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.nov}}{{ lates.nov }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.dec}}{{ lates.dec }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.jan}}{{ lates.jan }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.feb}}{{ lates.feb }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.mar}}{{ lates.mar }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.apr}}{{ lates.apr }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.may}}{{ lates.may }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.jun}}{{ lates.jun }}{{else}}0{{/if}}</td>
          <td class="center">{{#if lates.tot}}{{ lates.tot }}{{else}}0{{/if}}</td>
        </tr>
        <tr>
          <td>Early Departure</td>
          <td class="center">{{#if earlydep.sep}}{{ earlydep.sep }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.oct}}{{ earlydep.oct }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.nov}}{{ earlydep.nov }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.dec}}{{ earlydep.dec }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.jan}}{{ earlydep.jan }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.feb}}{{ earlydep.feb }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.mar}}{{ earlydep.mar }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.apr}}{{ earlydep.apr }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.may}}{{ earlydep.may }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.jun}}{{ earlydep.jun }}{{else}}0{{/if}}</td>
          <td class="center">{{#if earlydep.tot}}{{ earlydep.tot }}{{else}}0{{/if}}</td>
        </tr>
      </table>
    </div>
      <table>
        <colgroup>
          <col style="width: 3.5in;" />
          <col style="width: 0.5in; text-align: center;" />
          <col style="width: 0.5in; text-align: center;" />
          <col style="width: 0.5in; text-align: center;" />
          <col style="width: 3in;" />
        </colgroup>
        <tr>
            <td colspan="5" class="grey">
              <strong>C - Consistent</strong> Indicates the child has acquired the knowledge and skill and demonstrates consistently.<br />
              <strong>D - Developing</strong> Indicates the child is displaying partial knowledge and skill. <br />
              <strong>N - Needs Assistance Often</strong> Indicates the child is developing the knowledge and skill but requires assistance most of the time. <br>
              <strong>INS - </strong>Insufficient assessment evidence at this time.<br>
              <strong>NA - </strong>This curriculum outcome has not been taught and/or assessed during this reporting period.
            </td>
        </tr>
        <tbody>
          <tr class="grey">
            <th class="left"><h2>Social/Emotional Development</h2></th>
            <th><h2>1st</h2></th>
            <th><h2>2nd</h2></th>
            <th><h2>3rd</h2></th>
            <th><h2>Comments</h2></th>
          </tr>
          <tr>
              <td>Makes friends/plays with others</td>
              <td id="KPRS1-E1" class="center">{{ standards.KPRS1.E1 }}</td>
              <td id="KPRS1-E2" class="center">{{ standards.KPRS1.E2 }}</td>
              <td id="KPRS1-E3" class="center">{{ standards.KPRS1.E3 }}</td>
              <td rowspan="10" id="KPRS-comment" class="areaComment">
                  {{#if ../reportconfig.is_term1 }}{{ comments.KPRSE1 }}{{/if}}
                  {{#if ../reportconfig.is_term2 }}{{ comments.KPRSE2 }}{{/if}}
                  {{#if ../reportconfig.is_term3 }}{{ comments.KPRSE3 }}{{/if}}
              </td>
          </tr>
          <tr>
              <td>Takes turns/shares/cooperates</td>
              <td id="KPRS2-E1" class="center">{{ standards.KPRS2.E1 }}</td>
              <td id="KPRS2-E2" class="center">{{ standards.KPRS2.E2 }}</td>
              <td id="KPRS2-E3" class="center">{{ standards.KPRS2.E3 }}</td>
          </tr>
          <tr>
              <td>Identifies feelings in self and others</td>
              <td id="KPRS3-E1" class="center">{{ standards.KPRS3.E1 }}</td>
              <td id="KPRS3-E2" class="center">{{ standards.KPRS3.E2 }}</td>
              <td id="KPRS3-E3" class="center">{{ standards.KPRS3.E3 }}</td>
          </tr>
          <tr>
              <td>Participates in activities focussing on self, family, and community</td>
              <td id="KPRS4-E1" class="center">{{ standards.KPRS4.E1 }}</td>
              <td id="KPRS4-E2" class="center">{{ standards.KPRS4.E2 }}</td>
              <td id="KPRS4-E3" class="center">{{ standards.KPRS4.E3 }}</td>
          </tr>
          <tr>
              <td>Shows respect for self, others, and property</td>
              <td id="KPRS5-E1" class="center">{{ standards.KPRS5.E1 }}</td>
              <td id="KPRS5-E2" class="center">{{ standards.KPRS5.E2 }}</td>
              <td id="KPRS5-E3" class="center">{{ standards.KPRS5.E3 }}</td>
          </tr>
          <tr>
              <td>Follows rules and limits</td>
              <td id="KPRS6-E1" class="center">{{ standards.KPRS6.E1 }}</td>
              <td id="KPRS6-E2" class="center">{{ standards.KPRS6.E2 }}</td>
              <td id="KPRS6-E3" class="center">{{ standards.KPRS6.E3 }}</td>
          </tr>
          <tr>
              <td>Accepts responsibility for own actions</td>
              <td id="KPRS7-E1" class="center">{{ standards.KPRS7.E1 }}</td>
              <td id="KPRS7-E2" class="center">{{ standards.KPRS7.E2 }}</td>
              <td id="KPRS7-E3" class="center">{{ standards.KPRS7.E3 }}</td>
          </tr>
          <tr>
              <td>Asks for help</td>
              <td id="KPRS8-E1" class="center">{{ standards.KPRS8.E1 }}</td>
              <td id="KPRS8-E2" class="center">{{ standards.KPRS8.E2 }}</td>
              <td id="KPRS8-E3" class="center">{{ standards.KPRS8.E3 }}</td>
          </tr>
          <tr>
              <td>Takes care of personal needs: bathroom, hand washing, dressing</td>
              <td id="KPRS9-E1" class="center">{{ standards.KPRS9.E1 }}</td>
              <td id="KPRS9-E2" class="center">{{ standards.KPRS9.E2 }}</td>
              <td id="KPRS9-E3" class="center">{{ standards.KPRS9.E3 }}</td>
          </tr>
          <tr>
            <td>Takes responsibility for belongings</td>
            <td id="KPRS10-E1" class="center">{{ standards.KPRS10.E1 }}</td>
            <td id="KPRS10-E2" class="center">{{ standards.KPRS10.E2 }}</td>
            <td id="KPRS10-E3" class="center">{{ standards.KPRS10.E3 }}</td>
        </tr>
      </tbody>
      <tbody>
        <tr class="grey">
          <th class="left"><h2>Physical Development</h2></th>
          <th><h2>1st</h2></th>
          <th><h2>2nd</h2></th>
          <th><h2>3rd</h2></th>
          <th><h2>Comments</h2></th>
        </tr>
        <tr>
            <td>Demonstrates gross motor skills</td>
            <td id="KPED1-E1" class="center">{{ standards.KPED1.E1 }}</td>
            <td id="KPED1-E2" class="center">{{ standards.KPED1.E2 }}</td>
            <td id="KPED1-E3" class="center">{{ standards.KPED1.E3 }}</td>
            <td rowspan="10"  id="KPED-comment" class="areaComment">
               {{#if ../reportconfig.is_term1 }}{{ comments.KPEDE1 }}{{/if}}
               {{#if ../reportconfig.is_term2 }}{{ comments.KPEDE2 }}{{/if}}
               {{#if ../reportconfig.is_term3 }}{{ comments.KPEDE3 }}{{/if}}
            </td>
        </tr>
        <tr>
            <td>Demonstrates fine motor skills</td>
            <td id="KPED2-E1" class="center">{{ standards.KPED2.E1 }}</td>
            <td id="KPED2-E2" class="center">{{ standards.KPED2.E2 }}</td>
            <td id="KPED2-E3" class="center">{{ standards.KPED2.E3 }}</td>
        </tr>
        <tr>
            <td>Shows an understanding of personal space</td>
            <td id="KPED3-E1" class="center">{{ standards.KPED3.E1 }}</td>
            <td id="KPED3-E2" class="center">{{ standards.KPED3.E2 }}</td>
            <td id="KPED3-E3" class="center">{{ standards.KPED3.E3 }}</td>
        </tr>
      </tbody>
      <tbody>
        <tr class="grey">
          <th class="left"><h2>Creative Development</h2></th>
          <th><h2>1st</h2></th>
          <th><h2>2nd</h2></th>
          <th><h2>3rd</h2></th>
          <th><h2>Comments</h2></th>
        </tr>
        <tr>
            <td>Expresses ideas and feelings through play, music, art, dance, etc.</td>
            <td id="KCRT1-E1" class="center">{{ standards.KCRT1.E1 }}</td>
            <td id="KCRT1-E2" class="center">{{ standards.KCRT1.E2 }}</td>
            <td id="KCRT1-E3" class="center">{{ standards.KCRT1.E3 }}</td>
            <td rowspan="10" id="KCRT-comment" class="areaComment">
               {{#if ../reportconfig.is_term1 }}{{ comments.KCRTE1 }}{{/if}}
               {{#if ../reportconfig.is_term2 }}{{ comments.KCRTE2 }}{{/if}}
               {{#if ../reportconfig.is_term3 }}{{ comments.KCRTE3 }}{{/if}}
            </td>
        </tr>
        <tr>
            <td>Chooses materials and creatively uses them in a variety of ways</td>
            <td id="KCRT2-E1" class="center">{{ standards.KCRT2.E1 }}</td>
            <td id="KCRT2-E2" class="center">{{ standards.KCRT2.E2 }}</td>
            <td id="KCRT2-E3" class="center">{{ standards.KCRT2.E3 }}</td>
        </tr>
      </tbody>
      <tbody>
        <tr class="grey">
          <th class="left"><h2>Intellectual Development</h2></th>
          <th><h2>1st</h2></th>
          <th><h2>2nd</h2></th>
          <th><h2>3rd</h2></th>
          <th><h2>Comments</h2></th>
        </tr>
        <tr>
            <td>Applies problem solving in everyday situations</td>
            <td id="KINT1-E1" class="center">{{ standards.KINT1.E1 }}</td>
            <td id="KINT1-E2" class="center">{{ standards.KINT1.E2 }}</td>
            <td id="KINT1-E3" class="center">{{ standards.KINT1.E3 }}</td>
            <td rowspan="10" id="KINT-comment" class="areaComment">
               {{#if ../reportconfig.is_term1 }}{{ comments.KINTE1 }}{{/if}}
               {{#if ../reportconfig.is_term2 }}{{ comments.KINTE2 }}{{/if}}
               {{#if ../reportconfig.is_term3 }}{{ comments.KINTE3 }}{{/if}}
            </td>
        </tr>
        <tr>
            <td>Shows curiosity and interest in learning</td>
            <td id="KINT2-E1" class="center">{{ standards.KINT2.E1 }}</td>
            <td id="KINT2-E2" class="center">{{ standards.KINT2.E2 }}</td>
            <td id="KINT2-E3" class="center">{{ standards.KINT2.E3 }}</td>
        </tr>
        <tr>
            <td>Makes a choice and follows through</td>
            <td id="KINT3-E1" class="center">{{ standards.KINT3.E1 }}</td>
            <td id="KINT3-E2" class="center">{{ standards.KINT3.E2 }}</td>
            <td id="KINT3-E3" class="center">{{ standards.KINT3.E3 }}</td>
        </tr>
        <tr>
            <td>Uses memory skills by sharing past experiences, nursery rhymes, songs, etc.</td>
            <td id="KINT4-E1" class="center">{{ standards.KINT4.E1 }}</td>
            <td id="KINT4-E2" class="center">{{ standards.KINT4.E2 }}</td>
            <td id="KINT4-E3" class="center">{{ standards.KINT4.E3 }}</td>
        </tr>
        <tr>
            <td>Explores and discovers using the five senses</td>
            <td id="KINT5-E1" class="center">{{ standards.KINT5.E1 }}</td>
            <td id="KINT5-E2" class="center">{{ standards.KINT5.E2 }}</td>
            <td id="KINT5-E3" class="center">{{ standards.KINT5.E3 }}</td>
        </tr>
        <tr>
            <td>Shows an understanding of sequencing</td>
            <td id="KINT6-E1" class="center">{{ standards.KINT6.E1 }}</td>
            <td id="KINT6-E2" class="center">{{ standards.KINT6.E2 }}</td>
            <td id="KINT6-E3" class="center">{{ standards.KINT6.E3 }}</td>
        </tr>
      </tbody>
    </table>

    <table class="footer wide">
        <tr>
          <td class="left">{{#if is_fi}}FI{{else}}EN{{/if}}-1.3-2021</td>
          <td class="center">{{ studentName }} ({{ homeroom }})</td>
          <td class="right">Printed: {{ ../reportconfig.reportdate }}</td>
        </tr>
    </table>
  </div>

<!-- Page break -->
  <div class="pageBreak" style="clear: both;">
      <div class="noprint" style="border-top: thin dotted;width: 100%;"></div>
  </div>

<!-- Start of page 2 -->
  <div class="page">

    <table>
      <colgroup>
        <col style="width: 3.5in;" />
        <col style="width: 0.5in;" />
        <col style="width: 0.5in;" />
        <col style="width: 0.5in;" />
        <col style="width: 3in;" />
      </colgroup>
      <tbody>
        <tr class="grey">
          <th class="left"><h2>Early Numeracy Development</h2></th>
          <th><h2>1st</h2></th>
          <th><h2>2nd</h2></th>
          <th><h2>3rd</h2></th>
          <th><h2>Comments</h2></th>
        </tr>
        <tr>
            <td>Begins to understand some concepts of a number</td>
            <td id="KNUM1-E1" class="center">{{ standards.KNUM1.E1 }}</td>
            <td id="KNUM1-E2" class="center">{{ standards.KNUM1.E2 }}</td>
            <td id="KNUM1-E3" class="center">{{ standards.KNUM1.E3 }}</td>
            <td rowspan="10" id="KNUM-comment" class="areaComment">
                  {{#if ../reportconfig.is_term1 }}{{ comments.KNUME1 }}{{/if}}
                  {{#if ../reportconfig.is_term2 }}{{ comments.KNUME2 }}{{/if}}
                  {{#if ../reportconfig.is_term3 }}{{ comments.KNUME3 }}{{/if}}               
            </td>
        </tr>
        <tr>
            <td>Counts to determine the number in a group</td>
            <td id="KNUM2-E1" class="center">{{ standards.KNUM2.E1 }}</td>
            <td id="KNUM2-E2" class="center">{{ standards.KNUM2.E2 }}</td>
            <td id="KNUM2-E3" class="center">{{ standards.KNUM2.E3 }}</td>
        </tr>
        <tr>
            <td>Understands repeating patterns (2-3 objects, actions, etc.)</td>
            <td id="KNUM3-E1" class="center">{{ standards.KNUM3.E1 }}</td>
            <td id="KNUM3-E2" class="center">{{ standards.KNUM3.E2 }}</td>
            <td id="KNUM3-E3" class="center">{{ standards.KNUM3.E3 }}</td>
        </tr>
        <tr>
            <td>Understands measurement (height, weight & capacity)</td>
            <td id="KNUM4-E1" class="center">{{ standards.KNUM4.E1 }}</td>
            <td id="KNUM4-E2" class="center">{{ standards.KNUM4.E2 }}</td>
            <td id="KNUM4-E3" class="center">{{ standards.KNUM4.E3 }}</td>
        </tr>
        <tr>
            <td>Sorts and describes 3-D objects</td>
            <td id="KNUM5-E1" class="center">{{ standards.KNUM5.E1 }}</td>
            <td id="KNUM5-E2" class="center">{{ standards.KNUM5.E2 }}</td>
            <td id="KNUM5-E3" class="center">{{ standards.KNUM5.E3 }}</td>
        </tr>
      </tbody>
      <tbody>
        <tr class="grey">
          <th class="left"><h2>Early Literacy Development</h2></th>
          <th><h2>1st</h2></th>
          <th><h2>2nd</h2></th>
          <th><h2>3rd</h2></th>
          <th><h2>Comments</h2></th>
        </tr>
        <tr>
            <td>Listens and understands</td>
            <td id="KLAA1-E1" class="center">{{ standards.KLAA1.E1 }}</td>
            <td id="KLAA1-E2" class="center">{{ standards.KLAA1.E2 }}</td>
            <td id="KLAA1-E3" class="center">{{ standards.KLAA1.E3 }}</td>
            <td rowspan="15"  id="KLAA-comment" class="areaComment">
                  {{#if ../reportconfig.is_term1 }}{{ comments.KLAAE1 }}{{/if}}
                  {{#if ../reportconfig.is_term2 }}{{ comments.KLAAE2 }}{{/if}}
                  {{#if ../reportconfig.is_term3 }}{{ comments.KLAAE3 }}{{/if}}
            </td>
        </tr>
        <tr>
            <td>Asks and responds to questions</td>
            <td id="KLAA2-E1" class="center">{{ standards.KLAA2.E1 }}</td>
            <td id="KLAA2-E2" class="center">{{ standards.KLAA2.E2 }}</td>
            <td id="KLAA2-E3" class="center">{{ standards.KLAA2.E3 }}</td>
        </tr>
        <tr>
            <td>Rhymes</td>
            <td id="KLAA3-E1" class="center">{{ standards.KLAA3.E1 }}</td>
            <td id="KLAA3-E2" class="center">{{ standards.KLAA3.E2 }}</td>
            <td id="KLAA3-E3" class="center">{{ standards.KLAA3.E3 }}</td>
        </tr>
        <tr>
            <td>Recognizes most letters</td>
            <td id="KLAA4-E1" class="center">{{ standards.KLAA4.E1 }}</td>
            <td id="KLAA4-E2" class="center">{{ standards.KLAA4.E2 }}</td>
            <td id="KLAA4-E3" class="center">{{ standards.KLAA4.E3 }}</td>
        </tr>
        <tr>
            <td>Recognizes some sounds</td>
            <td id="KLAA5-E1" class="center">{{ standards.KLAA5.E1 }}</td>
            <td id="KLAA5-E2" class="center">{{ standards.KLAA5.E2 }}</td>
            <td id="KLAA5-E3" class="center">{{ standards.KLAA5.E3 }}</td>
        </tr>
      {{#if is_fi}}
        <tr id="KLAA6">
            <td>Begins to understand basic concepts of print: top-bottom, left-right, letters, words, and space when reading and writing</td>
            <td id="KLAA6-E1" class="center">{{ standards.KLAA6.E1 }}</td>
            <td id="KLAA6-E2" class="center">{{ standards.KLAA6.E2 }}</td>
            <td id="KLAA6-E3" class="center">{{ standards.KLAA6.E3 }}</td>
        </tr>
      {{else}}
        <tr id="KLAA7">
            <td>Begins to understand basic concepts of print:  top-bottom, left-right, letters, words, and space when <strong>reading</strong></td>
            <td id="KLAA7-E1" class="center">{{ standards.KLAA7.E1 }}</td>
            <td id="KLAA7-E2" class="center">{{ standards.KLAA7.E2 }}</td>
            <td id="KLAA7-E3" class="center">{{ standards.KLAA7.E3 }}</td>
        </tr>
        <tr id="KLAA8">
            <td>Begins to understand basic concepts of print:  top-bottom, left-right, letters, words, and space when <strong>writing</strong></td>
            <td id="KLAA8-E1" class="center">{{ standards.KLAA8.E1 }}</td>
            <td id="KLAA8-E2" class="center">{{ standards.KLAA8.E2 }}</td>
            <td id="KLAA8-E3" class="center">{{ standards.KLAA8.E3 }}</td>
        </tr>
      {{/if}}
        <tr>
            <td>Understands that illustrations/print carry a message</td>
            <td id="KLAA9-E1" class="center">{{ standards.KLAA9.E1 }}</td>
            <td id="KLAA9-E2" class="center">{{ standards.KLAA9.E2 }}</td>
            <td id="KLAA9-E3" class="center">{{ standards.KLAA9.E3 }}</td>
        </tr>
        <tr>
            <td>Recognizes and uses some sight words, environmental print, and familiar words when reading and writing</td>
            <td id="KLAA10-E1" class="center">{{ standards.KLAA10.E1 }}</td>
            <td id="KLAA10-E2" class="center">{{ standards.KLAA10.E2 }}</td>
            <td id="KLAA10-E3" class="center">{{ standards.KLAA10.E3 }}</td>
        </tr>
        <tr>
            <td>Reads simple messages</td>
            <td id="KLAA11-E1" class="center">{{ standards.KLAA11.E1 }}</td>
            <td id="KLAA11-E2" class="center">{{ standards.KLAA11.E2 }}</td>
            <td id="KLAA11-E3" class="center">{{ standards.KLAA11.E3 }}</td>
        </tr>
        <tr>
            <td>Writes simple messages</td>
            <td id="KLAA12-E1" class="center">{{ standards.KLAA12.E1 }}</td>
            <td id="KLAA12-E2" class="center">{{ standards.KLAA12.E2 }}</td>
            <td id="KLAA12-E3" class="center">{{ standards.KLAA12.E3 }}</td>
        </tr>
      {{#if is_fi}}
        <tr id="KLAA13">
            <td>Takes pleasure in listening to presentations regarding French language and culture</td>
            <td id="KLAA13-E1" class="center">{{ standards.KLAA13.E1 }}</td>
            <td id="KLAA13-E2" class="center">{{ standards.KLAA13.E2 }}</td>
            <td id="KLAA13-E3" class="center">{{ standards.KLAA13.E3 }}</td>
        </tr>
        <tr id="KLAA14">
            <td>Speaks spontaneously in French during play time</td>
            <td id="KLAA14-E1" class="center">{{ standards.KLAA14.E1 }}</td>
            <td id="KLAA14-E2" class="center">{{ standards.KLAA14.E2 }}</td>
            <td id="KLAA14-E3" class="center">{{ standards.KLAA14.E3 }}</td>
        </tr>
        <tr id="KLAA15">
            <td>Shows interest in French literature and authors</td>
            <td id="KLAA15-E1" class="center">{{ standards.KLAA15.E1 }}</td>
            <td id="KLAA15-E2" class="center">{{ standards.KLAA15.E2 }}</td>
            <td id="KLAA15-E3" class="center">{{ standards.KLAA15.E3 }}</td>
        </tr>
      {{/if}}
      </tbody>
    </table>
    <table class="commentBox wide">
      <tr>
        <td class="commentTitle wide">
          <span><strong>1st Term Additional Comments</strong></span>
        </td>
      </tr>
      <tr>
      <td class="comment wide" id="r1comment">{{ r1comment }}</td>
      </tr>
    </table>
    <table class="commentBox wide">
      <tr>
        <td class="commentTitle wide">
          <span><strong>2nd Term Additional Comments</strong></span>
        </td>
      </tr>
      <tr>
        <td class="comment wide" id="r2comment">{{ r2comment }}</td>
      </tr>
    </table>
    <table class="commentBox wide">
      <tr>
        <td class="commentTitle wide">
          <span><strong>3rd Term Additional Comments</strong></span>
        </td>
      </tr>
      <tr>
        <td class="comment wide" id="r3comment">{{r3comment }}</td>
      </tr>
    </table>
    <div class="subfooter wide">
      <div class="signature wide">{{#if ../reportconfig.teachersig}}<span class="teacher">Teacher: <span class="sig-line"></span></span> &nbsp; &nbsp;{{/if}}{{#if ../reportconfig.principalsig}}<span class="principal">Principal: <span class="sig-line"></span></span>{{/if}}</div>
    </div>
     <table class="footer wide">
        <tr>
          <td class="left">{{#if is_fi}}FI{{else}}EN{{/if}}-1.3-2021</td>
          <td class="center">{{ studentName }} ({{ homeroom }})</td>
          <td class="right">Printed: {{ ../reportconfig.reportdate }}</td>
        </tr>
    </table>
  </div>
  <div class="pageBreak" style="clear: both;">
      <div class="noprint" style="border-top: thin dotted;width: 100%;"></div>
  </div>
 {{/each}}